ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* container */

#share {
	  width: 100%;
  	margin: 15px auto;
  	text-align: center;
}

/* buttons */

#share a {
	  width: 30px;
  	height: 30px;
  	display: inline-block;
  	margin: 1px;
  	border-radius: 50%;
  	font-size: 24px;
  	color: #fff;
	  opacity: 0.75;
	  transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

/* icons */

#share i {
  	position: relative;
  	top: 30%;
  	transform: translateY(-50%);
}

/* colors */

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}

.googleplus {
  	background: #dd4b39;
}

.linkedin {
  	background: #0077b5;
}

.reddit {
  	background: #ff5700;
}
