/* ************************************ */

/* css for the cryptography tree graph */

/* ************************************ */

.clt {
  position     : relative;
  padding-left : 0px;
}

div.clt li,
div.clt ul {
  position     : relative;
  padding-left : 65px;
}

.clt li,
.clt ul {
  position : relative;
}

.clt ul {
  padding-left : 100px;
  list-style   : none;
}

.clt li::after,
.clt li::before {
  content  : "";
  position : absolute;
  left     : -12px;
}

.clt li::before {
  top        : 10px;
  width      : 25px;
  height     : 0px;
  border-top : 1px solid #008cba;
}

.clt li::after {
  top         : 2px;
  width       : 0px;
  height      : 100%;
  border-left : 1px solid #008cba;
}

.clt ul > li:last-child::after {
  height : 8px;
}

/* blockquote css */

blockquote {
  margin      : 0 0 21px;
  padding     : 10.5px 21px;
  border-left : 5px solid #464545;
  font-size   : 14px;
}

/* Headersection css */

Headersection {
  margin      : 0 0 21px;
  padding     : 10.5px 21px;
  border-left : 5px solid #464545;
  font-size   : 14px;
}

h6 {
  padding-bottom : 0px;
  border-bottom  : 1px solid #d0d0d0;
  font-size      : 9px;
}
