{% block extrahead %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="docsearch:language" content="{{ language }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {% for favicon in theme_favicons %}
    {% if favicon.href[:4] == 'http' %}
      <link rel="{{ favicon.rel }}" sizes="{{ favicon.sizes }}" href="{{ favicon.href }}">
    {% else %}
      <link rel="{{ favicon.rel }}" sizes="{{ favicon.sizes }}" href="{{ pathto('_static/' + favicon.href, 1)  }}">
    {% endif %}
  {% endfor %}  
{% endblock %}

<div class="profile-pic"><img src="{{ pathto('_static/me.png', 1) }}" /></div>

<div class="bio-info">
    <div class="name">
        Ayoub Malek
    </div>
    <div class="focusareas">
        Just another engineer 👨‍💻 trying to escape the matrix 🔴🔵
    </div>

    <div class="whatido">
      <a href="https://github.com/superkogito" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/ayoub-malek-24600a125/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:superkogito@gmail.com?subject=Feedback&body=Message" target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
    
    <style>
      .whatido a {
        text-decoration: none; /* Remove underline */
        margin: 0 5px; /* Add spacing */
        display: inline-block; /* Make the clickable area proper */
      }
    
      .whatido .svg-inline--fa {
        height: 2em;
      }
    </style>    
</div>
