body {
    color:  #AAAAAA ;
}

.wy-side-nav-search {
    background-color: #0e1111;
}

.wy-side-nav-search input[type=text] {
    border-color: #0e1111;
}

.wy-nav-side {
    background: #0e1111
}

.wy-menu-vertical a {
    color: inherit;
}

.wy-menu-vertical a:hover {
    background-color: #0e1111;
}

.rst-versions {
    border-top: solid 10px #0e1111;
}

.rst-versions .rst-current-version {
    background-color: #0e1111;
}

.wy-body-for-nav {
  background-color: #0e1111;
}

.wy-nav-content {
  background-color: #0e1111;
  max-width: 1500px !important;
}

--------------------------------------------------------------------------------
.wy-side-nav-search {
    background-color: #d8d8d8;
}

.wy-side-nav-search input[type=text] {
    border-color: #787878;
}

.wy-nav-side {
    background: #f8f8f8
}

.wy-menu-vertical a {
    color: inherit;
}

.wy-menu-vertical a:hover {
    background-color: #c8c8c8;
}

.rst-versions {
    border-top: solid 10px #d0d0d0;
}

.rst-versions .rst-current-version {
    background-color: #e0e0e0;
}
